@import url(../fonts/stylesheet.css);
@font-face {
  font-family: 'Proxima Nova ';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: local('../fonts/Proxima Nova Regular'), local('ProximaNova-Regular'),
  url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/ProximaNova-SemiboldIt.eot');
  src: local('../fonts/Proxima Nova Semibold'), local('ProximaNova-Semibold'),
  url('../fonts/ProximaNova-Semibold.woff') format('woff'),
  url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url('/fonts/ProximaNova-Bold.eot');
  src: local('/fonts/Proxima Nova Bold'), local('ProximaNova-Bold'),
  url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/ProximaNova-Bold.woff') format('woff'),
  url('../fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}
body {
  padding: 0;
  margin: 0;
}
h1, p {
  margin: 0;
}
.header {
  background-color: #F4B860;
  height: 579px;
}
.wrap {
  width: 1338px;
  margin: 0 auto;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  padding-top: 16px;
}
.logo-text {
  font-family: 'Proxima Nova';
  font-size: 26px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: #ffff;
  padding-left: 15px;
}
.menu {
  padding-left: 309px;
  padding-top: 15px;
}
.nav {
  display: flex;
  &__item {
    list-style-type: none;
    padding-right: 20px;
  }
  &__link {
    text-decoration: none;
    color: #ffff;
    font-family: 'Proxima Nova Rg';
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

  }
}
.auto {
  background-color: #fff;
  width: 138px;
  height: 40px;
  text-align: center;
  border-radius: 100px;
  padding-top: 10px;
  color: #F4B860;
  text-decoration: none;
  margin-top: 15px;
  margin-right: 18px;
  font-family: 'Proxima Nova Rg';
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 0em;
}
.center {
  font-family: Proxima Nova;
  font-size: 64px;
  font-weight: 700;
  color: #ffffff;

  padding-left: 73px;
  padding-top: 136px;
  p {
    font-family: Proxima Nova;
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    padding-left: 345px;
    color: #ffffff;

  }
}
.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: -122px;
}
.slider {
  height: 171px;
  width: 777px;
  background-color: #ffffff;
  text-align: center;
  .text-top {
    font-family: Proxima Nova;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 16px;
    color: #F4B860;
    padding-top: 50px;
  }
  .text-bottom {
    font-family: 'Proxima Nova Rg';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 16px;
  }
}
.container {
  height: 171px;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.bottom-left {
  width: 777px;
  height: 171px;
  border-radius: 10px;
  position: relative;
  margin-top: 285px;
}
.section-training {
  background-color: #F4D6CC;
  padding-bottom: 108px;
  h1 {
    padding-top: 137px;
    text-align: center;
    font-family: Proxima Nova;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    color: #32373B;
    padding-right: 20px;
  }
  p{
    text-align: center;
    font-family: 'Proxima Nova Rg';
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: #4A5859;
    padding-right: 20px;
  }
}
.swiper-pagination-bullet {
  background-color: #F4B860;
}
.bottom-right {
  padding-right: 50px;
}
.training {
  display: flex;
  margin-top: 50px;
  margin-right: 20px;
  justify-content: space-between;
  &__php, &__desing, &__html, &__copywriter {
    width: 297px;
    height: 427px;
    border-radius: 10px;
    h1{
      color: #FFFFFF;
      font-weight: 700;
      font-size: 22px;
      padding-top: 5px;
      margin-top: 0;
      height: 40px;
      text-align: left;
      padding-left: 17px;
    }
    p {
      font-family: 'Proxima Nova Rg';
      color: #FFFFFF;
      font-size: 14px;
      padding-left: 17px;
      text-align: left;
    }
    ul {
      margin: 0;
      padding-top: 10px;
      color: #fff;
      padding-bottom: 27px;;
      padding-left: 29px;
    }
    li {
      font-family: 'Proxima Nova Rg';
      color: #FFFFFF;
      list-style: square;
      line-height: 1.4;
    }
  }
  &__php {
    background-image: linear-gradient(180deg, #32373B 0%, rgba(50, 55, 59, 0.85) 100%), url("../img/php.png");
    background-size: cover;
  }
  &__desing {
    background-image: linear-gradient(180deg, #C83E4D 0%, rgba(200, 62, 77, 0.8) 100%), url("../img/desing.png");
    background-size: cover;
    ul {
      padding-bottom: 15px;
      padding-right: 10px;
    }
    a {
      color: #C83E4D;
    }
  }
  &__html {
    background-image: linear-gradient(180deg, #4A5859 0%, rgba(74, 88, 89, 0.85) 100%), url("../img/html.png");
    background-size: cover;
    ul {
      padding-bottom: 15px;
    }
  }
  &__copywriter {
    background-image: linear-gradient(180deg, #F4B860 0%, rgba(244, 184, 96, 0.85) 100%), url("../img/text.png");
    background-size: cover;
    ul {
      padding-bottom: 40px;
      li {
        color: #32373B;
      }
    }
    h1, p {
      color: #32373B;
    }
  }
  small {
    color: #fff;
    margin: 17px;
    font-family: 'Proxima Nova Rg';
    a {
      color: #fff;
      margin-left: 28px;
    }
  }
  .php-bottom {
    display: flex;
    justify-content: space-around;
    padding-top: 11px;
    .left {
      color: #FFFFFF;
      font-family: 'Proxima Nova Rg';
      span {
        font-family: "Proxima Nova";
        font-weight: 600;
        font-size: 22px;
      }
    }
    .btn {
      background-color: #fff;
      color: #32373B;
      width: 88px;
      height: 27px;
      border-radius: 50px;
      text-align: center;
      padding-top: 3px;
      text-decoration: none;
      font-size: 16px;
      font-family: "Proxima Nova";
      font-weight: 600;
    }
  }
  .desing-bottom {
    display: flex;
    justify-content: space-around;
    padding-top: 11px;
    .left {
      color: #FFFFFF;
      font-family: 'Proxima Nova Rg';
      span {
        font-family: "Proxima Nova";
        font-weight: 600;
        font-size: 22px;
      }
    }
    .btn {
      background-color: #fff;
      color: #C83E4D;
      width: 88px;
      height: 27px;
      border-radius: 50px;
      text-align: center;
      padding-top: 3px;
      text-decoration: none;
      font-size: 16px;
      font-family: "Proxima Nova";
      font-weight: 600;
    }

  }
  .html-bottom {
    display: flex;
    justify-content: space-around;
    padding-top: 11px;
    .left {
      color: #FFFFFF;
      font-family: 'Proxima Nova Rg';
      span {
        font-family: "Proxima Nova";
        font-weight: 600;
        font-size: 22px;
      }
    }
    .btn {
      background-color: #fff;
      color: #4A5859;
      width: 88px;
      height: 27px;
      border-radius: 50px;
      text-align: center;
      padding-top: 3px;
      text-decoration: none;
      font-size: 16px;
      font-family: "Proxima Nova";
      font-weight: 600;
    }
  }
  .copywriter-bottom {
    display: flex;
    justify-content: space-around;
    padding-top: 11px;
    .left {
      color: #32373B;
      font-family: 'Proxima Nova Rg';
      span {
        font-family: "Proxima Nova";
        font-weight: 600;
        font-size: 22px;
      }
    }
    .btn {
      background-color: #F4B860;
      color: #4A5859;
      width: 88px;
      height: 27px;
      border-radius: 50px;
      text-align: center;
      padding-top: 3px;
      text-decoration: none;
      font-size: 16px;
      font-family: "Proxima Nova";
      font-weight: 600;
    }
  }
}
.booking {
  position: relative;
  h1 {
    padding-top: 70px;
  }
  p{
    padding-bottom: 57px;
  }
}
.book-help{

  .help {
    height: 225px;
    .slider-book {
      width: 638px;
      height: 225px;
      margin-right: 25px;
      border-radius: 10px;
      background-color: #FFFFFF;
      padding-left: 14px;
    }
  }
  .swiper-button-prev {
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 50%;
    left: -44px;
    top: 72%;
    &::after {
      content: 'f104';
      color: #F4B860;
    }
  }
  .swiper-button-next {
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 50%;
    top: 72%;
    right: -25px;
    &::after {
      content: 'f104';
      color: #F4B860;
    }
  }
  .swiper-pagination {
    bottom: 0;
  }
}
.fa-solid {
  color: #F4B860 ;
}
.slider-book {
  .book-top{
    font-family: Proxima Nova;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #32373B;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .book-center {
    font-family: Proxima Nova Rg;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #4A5859;
    padding-bottom: 18px;
  }

  .book-bottom {
    display: flex;

    .otvet {
      display: flex;
      padding-top: 3px;
      margin-right: 64px;
      .foto1 {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-image: url("../img/foto1.png");
      }
      .foto2 {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-image: url("../img/foto3.png");
      }
      .otvet-text{
        padding-left: 10px;
        padding-top: 4px;
        h1{
          font-family: Proxima Nova;
          font-size: 18px;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: left;
          padding: 0;

        }
        p {
          font-family: Proxima Nova Rg;
          font-size: 12px;
          font-weight: 400;
          line-height: 15px;
          letter-spacing: 0em;
          text-align: left;
        }
        .un {
          text-transform: uppercase;
          font-weight: 700;
          font-size: 10px;
          padding-bottom: 0;
        }
      }
    }
    .comment {
      display: flex;
      .foto1 {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-image: url("../img/foto2.png");
      }
      .foto3 {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-image: url("../img/foto4.png");
      }
      .otvet-text{
        padding-left: 10px;
        padding-top: 4px;
        h1{
          font-family: Proxima Nova;
          font-size: 18px;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: left;
          padding: 0;
        }
        p {
          font-family: Proxima Nova Rg;
          font-size: 12px;
          font-weight: 400;
          line-height: 15px;
          letter-spacing: 0em;
          text-align: left;
        }
        .un {
          text-transform: uppercase;
          font-weight: 700;
          padding-bottom: 0;
          font-size: 10px;
        }
      }
    }
    .maks {
      margin-right: 0;
    }
  }
}
.section-question {
  background-color: #F4B860;
  height:474px ;
  .question {
    padding-top: 23px;
    display: flex;
    .robot{
      width: 386px;
      height: 427px;
      background-image: url("../img/robot.png");
    }
    .you-question {
      padding-left: 67px;
      padding-top: 10px;
      .in {
        position: relative;
        padding-bottom: 20px;
      }
      .text-p {
        padding-top: 20px;
      }
      h1 {
        font-family: Proxima Nova;
        font-size: 36px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;

      }
      .decision {
        display: flex;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 25px;
      }
      .text {
        font-family: Proxima Nova;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
      }
      .cloud {
        width: 159px;
        height: 54px;
        background-image: url("../img/oblako.png");
        text-align: center;
        padding-top: 11px;
        font-family: Proxima Nova;
        font-size: 24px;
        font-weight: 600;
        line-height: 29px;
        letter-spacing: 0em;
        text-transform: uppercase;
        padding-left: 2px;
        margin-left: 12px;
      }
      .textarea {
        width: 867px;
        height: 50px;
        background-color: #FEFBFA;
        border-radius: 10px;
        display: flex;
        align-items: center;
        padding-left: 12px;
        padding-right: 12px;
        justify-content: space-between;
        border: none;
        outline: none;
        font-family: Proxima Nova Rg;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        .area {
          font-family: Proxima Nova Rg;
          font-size: 16px;
          font-weight: 400;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: left;
        }
      }
      .text-p {
        .pen {
          font-family:  "Proxima Nova Rg";
          font-size: 15px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: left;
          color: #FFFFFF;
        }
      }
      .ten {
        font-family: Proxima Nova;
        font-size: 15px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
      }
      .ili {
        text-align: center;
        position: relative;
        padding-top: 30px;
        padding-bottom: 30px;
        .text1 {
          position: absolute;
          left: 397px;
          top: 28px;
          background: #F4B860;
          padding: 0 20px;
          color: #FFFFFF;
          font-family: Proxima Nova;
          font-size: 18px;
          font-weight: 700;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: left;

        }
        hr {
          background-color: #FFFFFF;
          box-sizing: content-box;
          height: 1px;
        }
      }
      .telefon {
        position: relative;
        display: flex;
        align-items: center;
        .tel {
          .texta {
            width: 257px;
            height: 43px;
            border: none;
            outline: none;
            border-radius: 10px;
            font-family: Proxima Nova;
            font-size: 15px;
            font-weight: 600;
            line-height: 18px;
            letter-spacing: 0em;
            text-align: left;
            padding-left: 13px;
          }
          .arow {
            left: 214px;
            top: 5px;
          }
        }
        .smal {
          font-family: Proxima Nova Rg;
          font-size: 11px;
          font-weight: 400;
          line-height: 13px;
          letter-spacing: 0em;
          text-align: left;
          color: #FFFFFF;
          padding-left: 13px;
        }
      }
      .we {
        font-family: Proxima Nova Rg;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
        padding-bottom: 15px;

      }
    }
  }

  .arow {
    width: 30px;
    height: 30px;
    background-color: #F4B860;
    border-radius: 50%;
    text-align: center;
    border: none;
    outline: none;
    position: absolute;
    top: 10px;
    right: 14px;
    .fa {
      color: #FFFFFF;
    }
  }
}
.section-program {
  height: 100%;
  background-color: #F4D6CC;
  h1{
    font-family: Proxima Nova;
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 66px;
    padding-right: 16px;
  }
  p{
    font-family: Proxima Nova Rg;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    padding-right: 10px;
  }
  .container{
    height: 551px;
    .photo {
      background-color: #FFFFFF;
      display: flex;
      .img-foto {
        width: 185px;
        height: 185px;
        h1{
          font-family: Proxima Nova;
          font-size: 16px;
          font-weight: 600;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: center;
          padding: 0;
        }
        p {
          font-family: 'Proxima Nova Lt';
          font-size: 14px;
          font-weight: 300;
          line-height: 17px;
          letter-spacing: 0em;
          text-align: center;

        }
        .foto {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          background-image: url(../img/foto8.png);
          background-position: center;
          margin-left: 25px;
        }
      }
      .expression {
        p {
          font-family: Proxima Nova Rg;
          font-size: 16px;
          font-weight: 400;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: left;
        }
        .expression  {
        }
        .hr {
          position: relative;
          padding-top: 30px;
          font-family: Proxima Nova;
          font-size: 18px;
          font-weight: 600;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: center;

        }
        .hr-text{
          position: absolute;
          top: 30px;
          background-color: #fff;
          left: 500px;
        }
      }
    }
  }
}

